{% extends "base.twig" %}

{% block header %}Upload file{% endblock %}

{% block body %}
    {% if app.session.hasFlash('error') %}
    <p class="error">{{ app.session.getFlash('error') }}</p>
    {% endif %}
    <form action="{{ app.url_generator.generate('upload') }}" method="post" enctype="multipart/form-data">
        <p>
            <input type="file" name="cdn-file" />
            <button>Save file</button>
        </p>
    </form>
{% endblock %}
