{% extends "base.twig" %}

{% block header %}File uploaded{% endblock %}

{% block head %}
<style>
    #download-url {
        width: 100%;
        height: 50px;
    }
</style>
<script>
    window.addEventListener('load', function (e) {
        document.getElementById('download-url').onclick = function (e) {
            this.select();
        };
    });
</script>
{% endblock %}

{% block body %}
    <p>
        You can use this link:
        <br>
        <textarea id="download-url" readonly="true">{{ url }}</textarea>
    </p>
    <p><a href="/">Upload new file</a></p>
{% endblock %}
